[submodule "software/pyUSBtin"]
	path = software/pyUSBtin
	# url = https://github.com/fishpepper/pyUSBtin.git
	url = https://github.com/JochiSt/pyUSBtin.git
[submodule "software/LabDeviceControl"]
	path = software/LabDeviceControl
	url = https://github.com/JochiSt/LabDeviceControl.git
[submodule "Kicad-Wago-733"]
	path = Kicad-Wago-733
	url = https://github.com/phd0/Kicad-Wago-733.git
