[submodule "software/pyUSBtin"]
	path = software/pyUSBtin
	# url = https://github.com/fishpepper/pyUSBtin.git
	url = https://github.com/JochiSt/pyUSBtin.git
[submodule "software/LabDeviceControl"]
	path = software/LabDeviceControl
	url = https://github.com/JochiSt/LabDeviceControl.git
